*~
.DS_Store
Thumbs.db

*.log
*.iml
.idea/
node_modules/
dist/
/lib/xparser
/test/xparser/build
/test/build
/test/suite/dsls/xvms/importthen/project/build
/test/**/*.snapshot.diff
/sys-components/dist
/sys-components/build
/sys-components/package-lock.json
.nyc_output
/coverage
