<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright (c) 2021-present, the hapjs-platform Project Contributors
    SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.hapjs.debugger.app.impl">

    <permission
        android:name="org.hapjs.permission.DEBUG_CARD"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="org.hapjs.mockup.permission.CARD" />
    <uses-permission android:name="org.hapjs.permission.DEBUG_CARD" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name="org.hapjs.debugger.DebuggerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.hapjs.debugger.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="hapjs.org"
                    android:pathPattern="/debug/.*"
                    android:scheme="debugger" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.hapjs.debugger.SettingsActivity"
            android:label="@string/activity_settings_label"
            android:theme="@style/dialog_style" />
        <activity
            android:name="org.hapjs.debugger.card.CardActivity"
            android:label="@string/text_mode_card"
            android:launchMode="singleTask"
            android:process=":card"
            android:taskAffinity=":card"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.hapjs.debugger.AppLaunchTestActivity"
            android:label="@string/menu_label_launch_app_test"
            android:theme="@style/dialog_style"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.hapjs.debugger.SignatureActivity"
            android:label="@string/get_signature_label"
            android:theme="@style/dialog_style"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="org.hapjs.debugger.InstalledAppActivity"
            android:exported="true"
            android:label="@string/choose_app_label"
            android:theme="@style/AppTheme.InstalledApp" />

        <activity
            android:name="org.hapjs.debugger.WebActivity"
            android:theme="@style/AppTheme.InstalledApp"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.hapjs.debugger.file"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="org.hapjs.debugger.debug.CardDebugClientReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="org.hapjs.intent.action.CARD_DEBUG_RESULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.hapjs.card.sdk.debug.SdkCardDebugReceiver"
            android:exported="false"
            android:process=":card"
            tools:replace="exported"></receiver>
    </application>

</manifest>
