# This is a basic workflow to help you get started with Actions
name: CI
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    container: gengjiawen/android-ndk:qa-2020-07-31
    steps:
      - uses: actions/checkout@v2
        # 构建程序 打包
      - run: |
          cd ./mockup/platform/android
          ./gradlew clean assemblePhoneDebug assemblePhoneRelease
          ./gradlew clean assembleTvDebug assembleTvRelease
